html{
    background-color: white;
}
h1{
    text-align: center;
    text-decoration: underline;
    color:green;
}

/* # for id */
#hone{
    text-align: right;
    color: #fc0c14;
}
/*  . for class name */
.custom{
    text-align: left;
    text-decoration:wavy;
    color: darkolivegreen;
}