div{
    width: 40%;
    height: 100px;
    border: 1px solid red;
    background-color:lightgreen ;

}

.top{
    margin-left: 254px;
    margin-top: 10px;
}
.bottom{
    margin-top: 500px;
    margin-left: 254px;
}